*{
    margin: 0;
    padding: 0;
}

//colores
$primary: #191A19;
$second: #FF577F;
$third: #FF884B;
$fourth: #fcfbf9;

//margin padding
$px-1:1em;
$mx-1:1em;

//display
$d-flex:flex;
$d-row:row; 

//sizing
$w-100:100%;
$w-50: 50%;
$w-25: 25%;
$w-20: 20%;
$w-logo: 15%;
