.titulo{
    color: $second
}
.subtitulo{
    color: $third;
}
.texto{
    font-family: $mainFont;
}
.imag{
    width: $w-100;
}
.tituloGrilla{
    color: $third;
}
.fototravel{
    width: $w-20;
    display: $d-row;
}
.travel{
    display: $d-row;
}
.boldwhite{
    color: $fourth;
}
.padding{
   padding: $px-1;
}