@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&family=Zen+Old+Mincho:wght@700&display=swap');

$mainFont: 'Roboto', sans-serif;

//tamaños de textos
$textSmall: 0.8em;
$textTitle: 3.5em;
$textSubtitle: 3em;